<span id="page-header"><%= @theme_helper.format_rb_string(store.rb_string) %></span>
<span id="page-type-id">(CLASS)</span>
<hr />
<% @docs = @store.docs %>
<% unless @docs.description.nil? || @docs.description.empty? %>
  <p class="docs-description"><%= @docs.description %></p>
<% end %>
<% unless @docs[:deprecated].nil? %>
  <p class="docs-description">
    <em>
      <strong>Deprecated.  </strong>
      <%= @docs[:deprecated] %>
    </em>
  </p>
<% end %>
<% unless @docs[:author].nil? || @docs[:author].empty? %>
  <p class="data-header">Author:</p>
  <p class="data-description"><%= @docs[:author]%> </p>
<% end %>

<% unless @base_helper.names(:constant).empty? %>
  <div class="page-section-header">Constants</div>

  <% for name in @base_helper.names(:constant) %>
    <% @data = @store.data_type(:constant)[name] %>
    <% @docs = @data.docs %>
    <div class="subheader-wrapper">
      <a name="constant_<%= name %>" class="page-subheader"><%= name %></a>
      <span class="subheader-type-id">(CONSTANT)</span>
    </div>

    <div class="warning-bank">
      <% if @data.private %>
        <div class="warning warning-red"><strong>Accessibility:</strong> Private</div>
      <% end %>
      <% if @data.docs[:api] == :private %>
        <div class="warning warning-orange"><strong>API:</strong> Private</div>
      <% end %>
      <% unless @data.docs[:deprecated].nil? %>
        <div class="warning warning-yellow">Deprecated</div>
      <% end %>
    </div>

    <% unless @docs.description.nil? || @docs.description.empty? %>
      <p class="docs-description"><%= @docs.description %></p>
    <% end %>
    <% unless @data.docs[:deprecated].nil? %>
      <p class="docs-description">
        <em>
          <strong>Deprecated.  </strong>
          <%= @docs[:deprecated] %>
        </em>
      </p>
    <% end %>
    <div class="toggle">
      <span class="toggle-name">View Source</span>
    </div>
    <div class="details">
      <pre><code class="lang-ruby">
<%= escape_html(@base_helper.source(:constant, name)) %>
      </code></pre>
    </div>
  <% end %>
<% end %>


<% unless @base_helper.names(:static_method).empty? %>
  <div class="page-section-header">Class Methods</div>

  <% for name in @base_helper.names(:static_method) %>
    <% @data = @store.data_type(:static_method)[name] %>
    <% @docs = @data.docs %>
    <div class="subheader-wrapper">
      <a name="static_method_<%= name %>" class="page-subheader"><%= name %></a>
      <span class="subheader-type-id">(METHOD)</span>
    </div>

    <div class="warning-bank">
      <% if @data.private %>
        <div class="warning warning-red"><strong>Accessibility:</strong> Private</div>
      <% end %>
      <% if @data.docs[:api] == :private %>
        <div class="warning warning-orange"><strong>API:</strong> Private</div>
      <% end %>
      <% unless @data.docs[:deprecated].nil? %>
        <div class="warning warning-yellow">Deprecated</div>
      <% end %>
    </div>

    <% unless @docs.description.nil? || @docs.description.empty? %>
      <p class="docs-description"><%= @docs.description %></p>
    <% end %>
    <% unless @data.docs[:deprecated].nil? %>
      <p class="docs-description">
        <em>
          <strong>Deprecated.  </strong>
          <%= @docs[:deprecated] %>
        </em>
      </p>
    <% end %>
    <% unless @docs[:params].nil? || @docs[:params].empty? %>
      <p class="data-header">Parameters:</p>
      <table class="params-table">
        <% @docs[:params].each do |param, desc| %>
          <tr>
            <td class="params-column1"><code class="code-background"><%= param %></code></td>
            <td class="params-column2"><%= desc %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% unless @docs[:return].nil? || @docs[:return].empty? %>
      <p class="data-header">Returns:</p>
      <p class="data-description"><%= @docs[:return]%> </p>
    <% end %>
    <div class="toggle">
      <span class="toggle-name">View Source</span>
    </div>
    <div class="details">
      <pre><code class="lang-ruby">
<%= escape_html(@base_helper.source(:static_method, name)) %>
      </code></pre>
    </div>
  <% end %>
<% end %>

<% unless @base_helper.names(:instance_method).empty? %>
  <div class="page-section-header">Instance Methods</div>

  <% for name in @base_helper.names(:instance_method) %>
    <% @data = @store.data_type(:instance_method)[name] %>
    <% @docs = @data.docs %>
    <div class="subheader-wrapper">
      <a name="instance_method_<%= name %>" class="page-subheader"><%= name %></a>
      <span class="subheader-type-id">(METHOD)</span>
    </div>

    <div class="warning-bank">
      <% if @data.private %>
        <div class="warning warning-red"><strong>Accessibility:</strong> Private</div>
      <% end %>
      <% if @data.docs[:api] == :private %>
        <div class="warning warning-orange"><strong>API:</strong> Private</div>
      <% end %>
      <% unless @data.docs[:deprecated].nil? %>
        <div class="warning warning-yellow">Deprecated</div>
      <% end %>
    </div>

    <% unless @docs.description.nil? || @docs.description.empty? %>
      <p class="docs-description"><%= @docs.description %></p>
    <% end %>
    <% unless @data.docs[:deprecated].nil? %>
      <p class="docs-description">
        <em>
          <strong>Deprecated.  </strong>
          <%= @docs[:deprecated] %>
        </em>
      </p>
    <% end %>
    <% unless @docs[:params].nil? || @docs[:params].empty? %>
      <p class="data-header">Parameters:</p>
      <table class="params-table">
        <% @docs[:params].each do |param, desc| %>
          <tr>
            <td class="params-column1"><code class="code-background"><%= param %></code></td>
            <td class="params-column2"><%= desc %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% unless @docs[:return].nil? || @docs[:return].empty? %>
      <p class="data-header">Returns:</p>
      <p class="data-description"><%= @docs[:return]%> </p>
    <% end %>
    <div class="toggle">
      <span class="toggle-name">View Source</span>
    </div>
    <div class="details">
      <pre><code class="lang-ruby">
<%= escape_html(@base_helper.source(:instance_method, name)) %>
      </code></pre>
    </div>
  <% end %>
<% end %>

<% unless @base_helper.names(:static_field).empty? %>
  <div class="page-section-header">Class Attributes</div>

  <% for name in @base_helper.names(:static_field) %>
    <% @data = @store.data_type(:static_field)[name] %>
    <% @docs = @data.docs %>
    <div class="subheader-wrapper">
      <a name="static_field_<%= name %>" class="page-subheader"><%= name %></a>
      <span class="subheader-type-id">(ATTRIBUTE)</span>
    </div>

    <div class="warning-bank">
      <% if @data.private %>
        <div class="warning warning-red"><strong>Accessibility:</strong> Private</div>
      <% end %>
      <% if @data.docs[:api] == :private %>
        <div class="warning warning-orange"><strong>API:</strong> Private</div>
      <% end %>
      <% unless @data.docs[:deprecated].nil? %>
        <div class="warning warning-yellow">Deprecated</div>
      <% end %>
      <% if @data.readonly? %>
        <div class="warning warning-green">Read-Only</div>
      <% end %>
    </div>

    <% unless @docs.description.nil? || @docs.description.empty? %>
      <p class="docs-description"><%= @docs.description %></p>
    <% end %>
    <% unless @data.docs[:deprecated].nil? %>
      <p class="docs-description">
        <em>
          <strong>Deprecated.  </strong>
          <%= @docs[:deprecated] %>
        </em>
      </p>
    <% end %>
    <div class="toggle">
      <span class="toggle-name">View Source</span>
    </div>
    <div class="details">
      <pre><code class="lang-ruby">
<%= escape_html(@base_helper.source(:static_field, name)) %>
      </code></pre>
    </div>
  <% end %>
<% end %>

<% unless @base_helper.names(:instance_field).empty? %>
  <div class="page-section-header">Instance Attributes</div>

  <% for name in @base_helper.names(:instance_field) %>
    <% @data = @store.data_type(:instance_field)[name] %>
    <% @docs = @data.docs %>
    <div class="subheader-wrapper">
      <a name="instance_field_<%= name %>" class="page-subheader"><%= name %></a>
      <span class="subheader-type-id">(ATTRIBUTE)</span>
    </div>

    <div class="warning-bank">
      <% if @data.private %>
        <div class="warning warning-red"><strong>Accessibility:</strong> Private</div>
      <% end %>
      <% if @data.docs[:api] == :private %>
        <div class="warning warning-orange"><strong>API:</strong> Private</div>
      <% end %>
      <% unless @data.docs[:deprecated].nil? %>
        <div class="warning warning-yellow">Deprecated</div>
      <% end %>
      <% if @data.readonly? %>
        <div class="warning warning-green">Read-Only</div>
      <% end %>
    </div>

    <% unless @docs.description.nil? || @docs.description.empty? %>
      <p class="docs-description"><%= @docs.description %></p>
    <% end %>
    <% unless @data.docs[:deprecated].nil? %>
      <p class="docs-description">
        <em>
          <strong>Deprecated.  </strong>
          <%= @docs[:deprecated] %>
        </em>
      </p>
    <% end %>
    <div class="toggle">
      <span class="toggle-name">View Source</span>
    </div>
    <div class="details">
      <pre><code class="lang-ruby">
<%= escape_html(@base_helper.source(:instance_field, name)) %>
      </code></pre>
    </div>
  <% end %>
<% end %>
